/* product */

.layout-collection .block-collection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout-collection .col-list-cate .tab-ul .menu-list .cate-item {
    padding: 4px 20px;
    display: inline-block;
    position: relative;
    font-weight: 600;
    background: #e3e3e3;
    -webkit-clip-path: polygon(8px 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
    clip-path: polygon(8px 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
    transition-duration: 0.3s;
}

.layout-collection .col-list-cate .tab-ul .menu-list .cate-item:hover {
    background: #ba9344;
    color: #fff;
}

.layout-collection .col-list-cate .tab-ul .menu-list .cate-item:first-child {
    -webkit-clip-path: polygon(0 0, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
}

.layout-collection .col-list-cate .tab-ul .menu-list .cate-item:last-child {
    -webkit-clip-path: polygon(8px 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(8px 0%, 100% 0%, 100% 100%, 0% 100%);
}

.select-container {
    position: relative;
    display: inline-block;
}

.select-container .custom-select {
    appearance: none;
    width: 100%;
    margin-right: 15px;
    height: auto;
    padding: 4px 20px;
    font-weight: 600;
    background: #e3e3e3;
    border: none;
    transition-duration: 0.3s;
}

.select-container .select-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
}


/* product - slug */

.inventory_quantity {
    border-bottom: 1px solid rgb(221, 225, 239);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.product-price {
    padding: 4px 60px 4px 10px;
    background: rgb(245, 245, 245);
    margin-bottom: 20px;
    position: relative;
}

.product-price .special-price {
    font-size: 1.6rem;
    font-weight: bold;
    color: #c30000;
}

.product-btn {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 4px;
}

.product-btn .btn_base {
    background: #ba9344;
    color: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, calc(100% - 8px) 100%, 0% 100%);

    padding: 0px 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    transition-duration: 0.3s;
    line-height: initial;
    height: 42px;
    line-height: 42px;
    width: 50%;
    border: none !important;
    outline: none !important;
}

/* policy */

.policy-item {
    padding: 10px 10px 10px 28px;
    margin-left: 15px;
    background: #f4f4f4;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #ddd;
}

.policy-item .marker-policy {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: -18px;
    transform: translateY(-50%);
    background: #ba9344;
    color: white;
}

.policy-item .icon-policy {
    width: 40px;
    height: 40px;
    position: relative;
    aspect-ratio: 1
}

.policy-item .icon-policy img {
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
}

.policy-item .info-policy {
    text-align: left;
    flex-grow: 1;
    margin-left: 10px;
}