.mid-bar {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background: #fff;
}

.mid-bar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.mid-bar-content .logo-wrapper {
    flex-shrink: 0;
}

#logo img {
    width: 70px;
    height: auto;
    object-fit: cover;
}

.flex-class {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search-modal-content input {
    width: 450px;
    height: 45px;
    border-radius: 5px;
    padding-left: 20px;
}

.contact-phone,
.contact-address {
    font-size: 1.2rem;
}

.contact-phone svg,
.contact-address svg {
    margin-left: 10px;
}


.header-search {
    position: relative;
}

.input-wrapper {
    position: relative;
}

.search-input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-icon {
    position: absolute;
    /* Đặt vị trí tuyệt đối cho icon */
    right: 10%;
    /* Đặt khoảng cách từ bên trái */
    top: 50%;
    /* Đặt vị trí theo chiều dọc */
    transform: translateY(-50%);
    /* Căn giữa theo chiều dọc */
    color: red;
    /* Màu sắc cho biểu tượng */
    pointer-events: none;
    /* Để không gây cản trở cho sự kiện click vào ô input */
}





.sticky-bottom-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ba9344; /* Màu nền của bottom-bar */
}


.bottom-bar {
    background-color: #ba9344;
    /* padding: 10px 20px; */

    padding: 0px;
}

.bottom-bar .menu-item {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

.ant-menu-horizontal {
    display: flex;
    justify-content: center;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 1.2rem;
}

.svg-inline--fa {
    color: black;
}

:where(.css-dev-only-do-not-override-diro6f).ant-menu-horizontal .ant-menu-item, :where(.css-dev-only-do-not-override-diro6f).ant-menu-horizontal .ant-menu-submenu {
    padding-inline: 20px;
}

:where(.css-dev-only-do-not-override-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-item::after,
:where(.css-dev-only-do-not-override-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu::after {
    border-bottom: 0px solid transparent !important;
}

:where(.css-dev-only-do-not-override-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after {
    border-bottom-width: 0px;
    border-bottom-color: transparent;
}