:where(.css-diro6f).ant-btn-primary {
    color: transparent;
}

.mid-bar {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background: #fff;
}

.mid-bar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.mid-bar-content .logo-wrapper {
    flex-shrink: 0;
}

#logo img {
    width: 70px;
    height: auto;
    object-fit: cover;
}

.flex-class {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search-modal-content input {
    width: 450px;
    height: 45px;
    border-radius: 5px;
    padding-left: 20px;
}

.contact-phone,
.contact-address {
    font-size: 1.2rem;
}

.contact-phone svg,
.contact-address svg {
    margin-left: 10px;
}


.header-search {
    position: relative;
}

.input-wrapper {
    position: relative;
}

.search-input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-icon {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    pointer-events: none;
}

.sticky-bottom-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ba9344;
}


.bottom-bar {
    background-color: #ba9344;
    /* padding: 10px 20px; */
    padding: 0px;
}

.bottom-bar .menu-item {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

.ant-menu-horizontal {
    display: flex;
    justify-content: center;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 1.2rem;
}

.svg-inline--fa {
    color: black;
}

:where(.css-dev-only-do-not-override-diro6f).ant-menu-horizontal .ant-menu-item,
:where(.css-dev-only-do-not-override-diro6f).ant-menu-horizontal .ant-menu-submenu {
    padding-inline: 20px;
}

:where(.css-dev-only-do-not-override-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-item::after,
:where(.css-dev-only-do-not-override-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu::after {
    border-bottom: 0px solid transparent !important;
}

:where(.css-dev-only-do-not-override-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after {
    border-bottom-width: 0px;
    border-bottom-color: transparent;
}

:where(.css-diro6f).ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title {
    color: black
}

:where(.css-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
:where(.css-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after {
    border-bottom-color: transparent
}

:where(.css-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover::after,
:where(.css-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu:hover::after,
:where(.css-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-item-active::after,
:where(.css-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-active::after,
:where(.css-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-item-open::after,
:where(.css-diro6f).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-open::after {
    border-bottom-color: transparent
}

:where(.css-dev-only-do-not-override-diro6f).ant-menu-light.ant-menu-submenu>.ant-menu {
    background-color: #ba9344;
}

:where(.css-dev-only-do-not-override-diro6f).ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title {
    color: black;
}

:where(.css-dev-only-do-not-override-diro6f).ant-menu-submenu-popup .ant-menu-vertical .ant-menu-item,
:where(.css-dev-only-do-not-override-diro6f).ant-menu-submenu-popup .ant-menu-vertical .ant-menu-submenu-title {
    background: #ba9344;
}


:where(.css-diro6f).ant-menu-light.ant-menu-submenu>.ant-menu {
    background-color: #ba9344;
}

:where(.css-diro6f).ant-menu-submenu-popup .ant-menu-vertical>.ant-menu-item,
:where(.css-diro6f).ant-menu-submenu-popup .ant-menu-vertical>.ant-menu-submenu>.ant-menu-submenu-title {
    background: #ba9344;
}

:where(.css-diro6f).ant-menu-submenu-popup .ant-menu-vertical .ant-menu-item,
:where(.css-diro6f).ant-menu-submenu-popup .ant-menu-vertical .ant-menu-submenu-title {
    background: #ba9344;
}

/* .menu-bar {
    display: none;
} */

.menu-bars {
    display: none;
}

/* Khi màn hình nhỏ hơn 1500px */
@media (max-width: 1500px) {
    .search-modal-content input {
        width: 300px;
    }
}

@media (max-width: 1200px) {
    .search-modal-content input {
        width: 270px;
        font-size: 1rem;
    }

    .ant-menu-horizontal {
        font-size: 1rem;
    }

    .contact-phone,
    .contact-address {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {
    .search-modal-content input {
        width: 200px;
        font-size: 0.8rem;
    }

    .contact-phone,
    .contact-address {
        font-size: 0.8rem;
    }

    .ant-menu-horizontal {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .search-modal-container {
        padding: 0;
    }
    .search-modal-content input {
        width: 350px;
    }

    .contact-phone,
    .contact-address {
        display: none
    }

    .search-icon {
        right: 5%;
    }

    .menu-bar {
        display: none;
    }

    .menu-bars {
        display: inline-block;
    }

    button.ant-btn.css-dev-only-do-not-override-diro6f.ant-btn-primary.menu-bars {
        background-color: #ba9344;
        display: flex;
        align-items: center;
    }

    :where(.css-dev-only-do-not-override-diro6f).ant-drawer .ant-drawer-body {
        padding: 0;
    }

    svg.svg-inline--fa.fa-chevron-down.fa-xs {
        display: none
    }

    :where(.css-dev-only-do-not-override-diro6f).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover {
        background-color: #ba9344;
    }

    :where(.css-dev-only-do-not-override-diro6f).ant-menu-light .ant-menu-item-selected {
        background-color: #ba9344;
    }
}

@media (max-width: 768px) { 
    .search-modal-content input {
        width: 280px;
    }
}

@media (max-width: 400px) { 
    .search-modal-content input {
        width: 230px;
    }
}